# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Ambiente Virtual
venv/
*.pyc

# Pacotes e Ambientes Python
__pycache__/
*.egg-info
build/
dist/

# Ferramentas de Notebooks
.ipynb_checkpoints

# Streamlit (Cache e Configuração Local)
.streamlit/
cache/

# IDEs
.idea/
.vscode/
